.centered-element {
    width: 50%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
}

select {
    width: 70%;
}

.fixed-width-image {
    width: 500px; /* Set your desired width */
    height: auto; /* This ensures the aspect ratio is maintained */
  }

@media (min-width: 768px) {
.fixed-width-image {
    width: 500px; /* Fixed width on larger screens */
}
}