button.active {
    background-color: orange;
}

.border-green {
    border: 1px solid green;
}

button {
    margin-right: 5px;
}

.centered-element {
    width: 50%;
    background-color: whitesmoke;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 50px;
}